body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}   
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.Loginform{
    box-sizing: inherit;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 2rem;
    will-change: transform, opacity, height;
    border-radius: 1.35em;
    background-color: rgb(255, 255, 255);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
    border: 1px solid transparent;
    width: 25rem;
    max-width: calc(100vw - 5rem);
    padding: 2.375rem 2rem 3rem;
}
.formlogo{
    display: flex;
    align-self: start;
}
.formlogo img{
    width: 70px;
    height: 70px;
}
.title h1{
    box-sizing: border-box;
    color: rgb(26, 26, 26);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
}

.input-container1{
    display: flex;
    position: relative;
    margin: 10px 0;
}
.input-container1 label{
    position: absolute;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.text-input1{
    width: 80%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.5s ease-in-out;
}
small{
    color: red;
    font-size: 8px;
    margin-left: 5px;
    height: 2px;
}

.text-input1:focus,
.text-input1:valid{
    border-bottom: 2px solid rgb(26, 26, 26);
}
.text-input1:focus ~ label,
.text-input1:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: rgb(26, 26, 26);
    
}
.icon {

    color: rgb(80,80,80);
    cursor: pointer;

  }
.Login{
      margin: 0px;
    padding: 0.625rem 1.25rem;
    border: 0px;
    outline: 0px;
    user-select: none;
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    border-radius: 0.5em;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 100ms;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 0.6875rem;
    letter-spacing: 0.5px;
    line-height: 1;
    text-transform: uppercase;
    min-height: 2.25rem;
    width: 100%;
    --accentLightest: hsla(0, 0%, 27.4%, 0.3);
    --accentLighter: hsla(0, 0%, 10%, 0.3);
    --accent: hsla(0, 0%, 10%, 1);
    --accentDark: hsla(0, 0%, 10.5%, 1);
    --accentDarker: hsla(0, 0%, 11%, 1);
    -webkit-font-smoothing: auto !important;

  }
  .Sigin-Up h1{
    box-sizing: border-box;
    color: rgba(26, 26, 26, 0.65);
    margin: 0px;
    font-size: 0.8125rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.25;
    -webkit-font-smoothing: auto !important;
  }
  .Sigin-Up span a{
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    cursor: pointer;
    /* text-decoration: none; */
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.25;
    padding-left: 5px;
    color:#3366CC;
    -webkit-font-smoothing: auto !important;
  }
 